<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HybridCloudEngineSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="HybridCloudEngineSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.apma.app/service.asmx" binding="basicHttpBinding"
                bindingConfiguration="HybridCloudEngineSoap" contract="ServiceReference1.HybridCloudEngineSoap"
                name="HybridCloudEngineSoap" />
        </client>
    </system.serviceModel>
</configuration>